<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card wrapper-login my-5">
                <form class="form-login card-body">
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="login">Login</button>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card wrapper-login my-5">
                <form class="form-login card-body">
                    <button draggable="true" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" id="signup">Signup</button>
                </form>
            </div>
        </div>
    </div>
</div>
